@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-size-adjust: none
}

body {
  height: 100%;
  background: #f5f8fa;
  font-family: HelveticaNeue, arial;
}

.search-wrapper {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.search-box {
  margin-top: 7px;
  padding: 5px 15px
}

.search-field {
  width: 280px;
  display: flex;
  align-items: center;
  position: relative;
}

.search-toggle {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 0;
  cursor: pointer;
  background-image: url("images/search.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center
}

.search-input {
  width: 100%;
  height: 44px;
  outline: 0;
  border: none;
  border-radius: 22px;
  font-size: 16px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08),0 0 1px 0 rgba(0,0,0,.1);
  padding: 0 40px 0 20px;
  background: white;
}

.logo-wrapper {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.logo-wrapper logo {
  width: 230px;
  min-height: 58px;
  background-image: url("https://raihan-zidan.github.io/images/logo.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.noscript {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background: #fff
}

.footer {
  width: 100%;
  position: absolute;
  left: 0; bottom: 0;
  padding: 5px;
  border-top: 1px solid #ccc;
  background: white;
}

.footer .content {
  width: 100%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .section {
  display: flex;
  margin: 4px;
  text-align: center;
}

.footer a {
  margin: 0 5px;
  color: #1558D6;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 780px) {
  .footer .content {
    flex-direction: column;
  }
}

@media (min-width: 780px) {
  .search-header {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 35%
  }
  .search-toggle {
    padding: 10px 20px
  }
  .search-field {
    width: 380px
  }
  .logo-wrapper logo {
    width: 260px;
    height: 88px;
  }
  .search-wrapper {
    margin: 0;
  }
}

@media (min-width: 1000px) {
  .search-field {
    width: 450px
  }
  .search-input {
    height: 48px;
    border: 1px solid #e8e8e8
  }
  .search-toggle {
    background-size: 20px
  }
  .logo-wrapper logo {
    width: 300px;
    height: 122px;
  }
}
