@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, 'Poppins', sans-serif;
}

body {
  background: #f5f8fa;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20%;
}

.container .search-box, form {
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form {
  position: relative;
}

.container form .search-box {
  border: 1px solid #e3e3e3;
  border-radius: 22px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  background: #fff;
}

.container form .search-box, .search-suggest {
  width: 100%;
}

.container form input {
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  font-size: 15px;
}

.container form button[type="submit"] {
  min-width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
  background-image: url("https://raihan-zidan.github.io/images/search.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  
  background-color: transparent;
}

@media (min-width: 768px) {
  .container form {
    max-width: 500px;
  }
  .container .img-logo {
    height: 120px;
  }
  .container {
    margin-top: -5%;
    
  }
}


.container ul.link {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 0;
  margin-top: 20px;
  max-width: 250px;
}

.container li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  transition: all .2s;
}

.container ul.link li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px 0;
  -webkit-tap-highlight-color: transparent;
  color: black;
  text-decoration: none;
  transition: all .2s;
}

.container ul li b {
  font-weight: 500;
}

.container ul.link li:active > a {
  filter: brightness(90%);
}

.container ul.link li a {
  font-size: 12px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #000;
}

.container ul.link li .icon {
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid #ededed;
  border-radius: 50%;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container ul.link li .icon svg {
  width: 20px;
  fill: #494949;
}

.container ul.link li .icon span {
  font-size: 16px;
  color: #494949;
  text-shadow: 0.1px 0 0 #000, -0.1px 0 0 #000;
}

.container form {
  position: relative;
}

.search-suggest.active {
  display: block;
}

.search-suggest ul li {
  cursor: pointer;
  padding: 8px 15px 8px 18px;
  transition: all .1s ease-in;
  overflow: hidden;
}

.search-suggest ul li {
  display: flex;
  align-items: center;
}

.search-suggest ul li span {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 20px);
  overflow: hidden;
}

.search-suggest ul li button {
  right: 0;
  position: absolute;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.search-suggest ul li:hover {
  background: #edf3fc;
}

.container form .search-box {
  transition: all .2s;
}

.container form .search-box.active {
  border-radius: 22px 22px 0 0;
}





  .search-suggest {
    position: fixed;
    height: 100%;
    top: 0;
    box-sizing: 999;
  background: #fff;
  display: none;
  transition: all .2s;
  }
  input#sugg-inp {
    border-bottom: 1px solid #ededed;
    padding-left: 45px;
  }

  button.tmh {
    background-image: url("https://s.yimg.com/pv/static/img/sa-edit-202403050534.svg")
  }

.btn-box {
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-color: transparent;
}

#clr_29 {
  background-image: url("https://raihan-zidan.github.io/images/close.png");
  top: 0;
  right: 0;
}

.inp-wr {
  position: relative;
}

.search-suggest ul li {
  position: relative;
  padding: 8px 15px 8px 45px;
}

.search-suggest ul li a {

  padding-right: 40px
}

button#s_pjang {
  background-image: url("https://s.yimg.com/pv/static/img/search-cancel-202403050526.svg");
  left: 0;
  top: 0;
  bottom: 0;
}

button#sear_sta_38 {
  background-image: url("https://raihan-zidan.github.io/images/search.png");
  left: 0;
}

@media screen and (max-width: 480px) {
  .container form input,
  .container ul.link li a {
    font-size: 16px;
  }
  .container form button[type="submit"],
  .btn-box {
    background-size: 20px;
  }
}

@media screen and (min-width: 980px) {
  .search-suggest {
    position: absolute;
    border: 1px solid #e3e3e3;
    border-radius: 0px 0px 22px 22px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    top: 100%;
    display: none;
    height: auto;
  }
  .container form {
    width: 100%;
  }
}
