* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
  background: #f5f8fa;
  font-family: "Helvetica Neue", arial;
}

.site-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
}

.content-wrap-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-toggle {
  border: none;
  background: transparent;
}

.logo-wrap-home {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-homepage {
  width: 230px;
  min-height: 58px;
  background-image: url("https://raihan-zidan.github.io/images/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-home {
  margin-top: -200px;
}

.search-box {
  width: 100%;
  margin-top: 8px;
  padding: 5px 15px
  position: relative;
}

.search-field {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.search-toggle {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 0;
  cursor: pointer;
  background-image: url("images/search.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center
}

.search-input {
  width: 100%;
  height: 44px;
  outline: 0;
  border: none;
  border-radius: 22px;
  font-size: 16px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08),0 0 1px 0 rgba(0,0,0,.1);
  padding: 0 45px 0 20px;
  background: white;
}

noscript {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0; top: 0;
  background: white;
  font-family: "Times new roman";
}

@media (min-width: 780px) {
  .logo-homepage {
    width: 250px;
    height: 68px;
  }
  .search-field {
    width: 400px;
  }
}
