.tab-result.Dxcgd {
  padding-bottom: 0;
}

.TgeAw {
  display: block;
}

.tab-result .title.Jhtm {
  color: black;
  margin: 0;
}

.vidbung {
  border-top: 1px solid #EDEDED;
  padding: 10px 0;
}

.vidbung:first-child {
  border: none;
}

.viditem {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.viditem .thumbnail {
  position: relative;
  width: 140px;
}

.thumbnail img {
  width: 140px;
  object-fit: cover;
  border-radius: 5px;
}

.sampingnye {
  padding-left: 12px;
}

.joedoel {
  color: var(--title-color);
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

dot:before {
  content: "•";
  margin: 0 3px;
}

.soember {
  color: #000;
  display: flex;
  font-size: 13px;
  margin: 3px 0;
}

.tanggal, .chnama {
  color: #494949;
  font-size: 13px;
}
