.result-wrapper {
  padding: 0 4px 20px;
}

.main-result {
  position: relative;
  min-width: 100%;
  background: #fff;
}

.img-tb {
  position: relative;
  transition: all 0.3s ease;
  width: 250px;
}

.img-th {
  padding: 4px;
}

.img-thumb {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 16px;
  background-color: #e9e9ec;
  cursor: pointer;
  pointer-events: all;
  -webkit-tap-highlight-color: transparent;
}

.img-thumb img {
  width: 100%;
}

.img-tb .info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.info p, .info span {
  color: #1f1f1f;
  font-size: 12px;
  font-family: 'Google Sans', Roboto, sans-serif;
}

.i-desc {
  align-items: center;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  gap: 6px;
}

.i-desc img {
  width: 16px;
  border-radius: 50%;
}

.info .title {
  font-weight: 500;
}

a.info {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-decoration: none;
}

.info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}






.preview {
  width: 100%;
  height: 100%;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  font-family: Roboto, Sans-Serif;
}

.p-header {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.p-header .left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.p-header .right {
  
}

.title {
  font-size: 14px;
  font-weight: 500;
}

.p-fav {
  width: 30px;
  height: 30px;
  border: 1px solid #ededed;
  background: #f9f9f9;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.p-fav img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.thumbnail {
  position: relative;
  background: #f1f3f4;
  display: flex;
  align-items: center;
  width: 100%;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 260px;
}


.jtext-p {
  padding: 8px 16px;
  display: flex;
  justify-content: space-betweeen;
}

.jtext-p .right {
  margin-left: auto;
}

.jtext-p .title {
  font-size: 16px;
}

.jtext-p div {
  font-size: 12px;
}

div.d {
  margin-top: 6px;
}

button {
  padding: 10px 18px;
  background: #1a73e9;
  border: none;
  border-radius: 22px;
  font-weight: 500;
  font-size: 14px;
}

button a {
  color: #fff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  filter: brightness(80%);
}


