.result-wrapper {
  padding: 0 4px 20px;
}

.main-result {
  position: relative;
  min-width: 100%;
  background: #fff;
}

.img-tb {
  position: relative;
  transition: all 0.3s ease;
  width: 250px;
}

.img-th {
  padding: 4px;
}

.img-thumb {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 16px;
  background-color: #e9e9ec;
  cursor: pointer;
  pointer-events: all;
  -webkit-tap-highlight-color: transparent;
}

.img-thumb img {
  width: 100%;
}

.img-tb .info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.info p, .info span {
  color: #1f1f1f;
  font-size: 12px;
  font-family: 'Google Sans', Roboto, sans-serif;
}



.i-desc {
  align-items: center;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  gap: 4px;
}

.i-desc img {
  width: 16px;
  border-radius: 50%;
}

.info .title {
  font-weight: 500;
}

a.info {
  padding-top: 3px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-decoration: none;
}

.info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
