.result-wrapper:not([class*="CBpUsa"]) {
	padding: 0
}

.result-wrapper:not([class*="CBpUsa"])>.main-result {
	min-width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.result-wrapper.CBpUsa>.main-result {
	min-width: 0
}

.main-result {
	background: #fff;
}

.video-result {
	width: 48%;
	padding: 0;
	border: 1px solid #ededed;
	border-radius: 8px;
	margin: 2px;
	background: #fff;
	position: relative
}

.video-result a:active>* {
	opacity: .5
}

.video-result a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent
}

.video-result .thumbnail {
	width: 100%;
	height: 100px;
	object-fit: cover;
	border-radius: 8px 8px 0 0;
	background: #ededed
}

.video-result .title {
	color: #1558d6;
	margin: 2px 5px 8px;
	font-size: 15px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}

.video-result .source {
	color: #000;
	padding: 12px 8px;
	font-size: 11px;
	overflow: hidden;
	white-space: nowrap;
}

.video-result .info {
	display: flex;
	margin-top: auto;
	align-items: center;
	gap: 4px;
}

.video-result .info > *:nth-child(3) { 
  order: 1;
}

.video-result .favicon {
	width: 16px;
	height: 16px;
}

@media (min-width:780px) {
	.result-wrapper:not([class*="CBpUsa"])>.main-result {
		justify-content: left;
		padding: 10px 5px
	}

	.result-wrapper.CBpUsa {
		padding-left: 130px
	}

	.video-result {
		width: calc(157px + .5px)
	}

	.video-result .thumbnail {
		height: 115px
	}
}

@media (min-width:992px) {
	.video-result {
		width: 205px;
		margin: 2px
	}
}

body.dark .main-result {
	background: #171717;
}

body.dark .video-result {
	border-color: #24282B;
	background: #202125;
}

body.dark .video-result .title {
	color: #8BB4F4;
}

body.dark .video-result .source {
	color: #BDC1C4;
}
