@font-face{font-family:'Google Sans';font-style:normal;font-weight:400;font-display:optional;src:local('Google Sans Regular'),local('GoogleSans-Regular'),url(https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Kwp5eKQtGBlc.woff2)format('woff2');unicode-range:U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:400;font-display:optional;src:local('Google Sans Regular'),local('GoogleSans-Regular'),url(https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Nwp5eKQtGBlc.woff2)format('woff2');unicode-range:U+0370-03FF;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:400;font-display:optional;src:local('Google Sans Regular'),local('GoogleSans-Regular'),url(https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Bwp5eKQtGBlc.woff2)format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:400;font-display:optional;src:local('Google Sans Regular'),local('GoogleSans-Regular'),url(https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Awp5eKQtGBlc.woff2)format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:400;font-display:optional;src:local('Google Sans Regular'),local('GoogleSans-Regular'),url(https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp5eKQtG.woff2)format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:500;font-display:optional;src:local('Google Sans Medium'),local('GoogleSans-Medium'),url(https://fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94Yt3CwZsPF4oxIs.woff2)format('woff2');unicode-range:U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:500;font-display:optional;src:local('Google Sans Medium'),local('GoogleSans-Medium'),url(https://fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtwCwZsPF4oxIs.woff2)format('woff2');unicode-range:U+0370-03FF;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:500;font-display:optional;src:local('Google Sans Medium'),local('GoogleSans-Medium'),url(https://fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94Yt8CwZsPF4oxIs.woff2)format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:500;font-display:optional;src:local('Google Sans Medium'),local('GoogleSans-Medium'),url(https://fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94Yt9CwZsPF4oxIs.woff2)format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;}@font-face{font-family:'Google Sans';font-style:normal;font-weight:500;font-display:optional;src:local('Google Sans Medium'),local('GoogleSans-Medium'),url(https://fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtzCwZsPF4o.woff2)format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-size-adjust: none;
}

html, body {
  font-family: "Google Sans", arial;
}

.header {
  padding-top: 8px;
  background: #ffffff;
  font-family: "Helvetica Neue", arial;
}

.search-box {
  padding: 5px 15px;
}

.search-field {
  position: relative;
}

.search-box .search-toggle {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 4px;
  left: 4px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background-image: url("images/search.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-input {
  width: 100%;
  height: 44px;
  outline: none;
  border: none;
  border-radius: 22px;
  font-size: 16px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08),0 0 1px 0 rgba(0,0,0,0.1);
  padding: 0 40px 0 45px;
  background: #ffffff;
}

.tab-wrapper {
  padding: 12px 16px 16px 16px;
  display: flex;
  justify-content: center;
}

.tab-wrapper svg {
  margin-right: 5px;
}

.search-box .cleartext {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 4px;
  right: 4px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background-image: url("images/close.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-menu {
  padding: 0 13px;
  margin: 0;
  border-bottom: 1px solid #E0E4E9;
  display: block;
  font-weight: 500;
  white-space: nowrap;
  user-select: none;
  display: -webkit-box;
  overflow-x: scroll;
  -webkit-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.search-menu::-webkit-scrollbar {
  display: none;
}

.selected .label {
  position: relative;
}

.selected .label:before {
  position: absolute;
  content: "";
  background: #101518;
  width: 100%;
  height: 2px;
  bottom: -7px;
  left: 0; right: 0;
}

.seacrh-menu .selected,
.selected a {
  pointer-events: none;
}

.search-item .label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-item {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  padding: 0;
  color: #6e7780;
  font-size: 14px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.search-item a {
  color: #6e7780;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.search-item a:active {
  opacity: .5;
}

.selected .label {
  color: #101518;
}

.result-wrapper {
  width: 100%;
  background: #f5f8fa;
}

.search-result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-result {
  width: 100%;
  border: 1px solid #EDEDED;
  border-style: solid none;
  padding: 15px;
  margin: 4px 0;
  background: white;
}

.tab-result .title,
.tab-result .title-black {
  color: #1558D6;
  font-size: 20px;
  margin: 5px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.big-title {
  font-size: 30px;
  margin-bottom: 5px;
}

.snippet-info {
  color: #494949;
  font-size: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-result .title-black {
  color: black;
}

.tab-result .top {
  width: 100%;
  display: flex;
}

.tab-result .favicon {
  width: 18px;
  height: 18px;
}

.tab-result .favicon {
  margin-right: 5px;
}

.tab-result a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.tab-result .link {
  color: #222222;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-result .snippet {
  color: #494949;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.corrected-word .spelling {
  color: #1558d6;
  -webkit-tap-highlight-color: rgba(0,0,0,.10);
}

.tab-link {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,.10);
}

.result-stats {
  display: none;
}

.instant-answer {
  width: 100%;
  border: 1px solid #EDEDED;
  border-style: solid none;
  padding: 15px;
  margin: 4px 0;
  background: white;
}

.instant-answer .logo {
  max-width: 120px;
  max-height: 160px;
  border-radius: 4px;
  padding: 0 !important;
  pointer-events: none;
  margin: 5px 0 25px 25px;
}

.instant-answer .title {
  font-size: 20px;
  margin: 5px 0;
  text-decoration: none;
  font-weight: 400;
}

.instant-answer .subtitle {
  font-size: 16px;
  color: #494949;
  margin: -5px 0 8px 0;
}

.instant-answer .wikipedia {
  font-size: 15px;
  color: #1558d6;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.instant-answer .wikipedia:hover {
  opacity: .5;
}

.instant-answer .infobox {
  color: #494949;
  font-size: 15px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.instant-answer span {
  margin: 2px 0;
}

.instant-answer .snippet {
  color: #494949;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestion {
  margin: 5px 0 8px;
}

.related-search {
  width: 100%;
  border: 1px solid #EDEDED;
  padding: 15px 15px 0;
  margin: 4px 0;
  position: relative;
  background: white;
}

.related-search .title {
  font-size: 20px;
  margin: 5px 0;
  font-weight: 400;
}

.search-list {
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  color: #222222;
  display: flex;
  flex-wrap: wrap;
}

.search-list .related {
  display: flex;
  padding: 13px;
  color: black;
  text-decoration: none;
  border-top: 1px solid #EDEDED;
  -webkit-tap-highlight-color: rgba(0,0,0,.10);
}

.related:before {
  content: "";
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background-image: url("images/search.png");
  background-size: 18px;
}

.show-wrapper {
  width: 100%;
  padding: 8px 18px;
  display: flex;
  font-size: 15px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.show-wrapper .more {
  width: 100%;
  padding: 12px 0;
  border: 1px solid #ccc;
  border-radius: 22px;
  color: black;
  display: flex;
  cursor: pointer;
  justify-content: center;
  position: relative;
  background: white;
  -webkit-tap-highlight-color: rgba(0,0,0,.10);
}

.show-wrapper .more:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  background-image: url("images/more.svg");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.book-result {
  width: 100%;
  border: 1px solid #EDEDED;
  padding: 13px;
  margin: 4px 0;
  background: white;
}

.book-result a,
.book-result .title {
  color: #1558d6;
  font-size: 18px;
  margin-bottom: 5px;
  text-decoration: none;
}

.book-result a,
.book-result .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.book-result .thumbnail {
  width: 100px;
  margin-right: 10px;
}

.thumbnail img {
  width: 100px;
}

.book-result .tab-link {
  width: 100%;
  display: flex;
  position: relative;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,.10);
}

.book-result .snippet {
  color: #494949;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-result .infobook {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copyright {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 18px;
  background: #f5f8fa;
}

.loader {
  width: 50px;
}

.circular {
  width: 80%;
  height: 80%;
  margin: auto;
  transform-origin: center center;
  animation: rotate 2s linear infinite;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke: #4c8bf5;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.news-result {
  width: 100%;
  border: 1px solid #EDEDED;
  padding: 13px;
  margin: 4px 0;
  background: white;
}

.news-result .title {
  font-size: 20px;
  margin-bottom: 10px;
}

.news-result .news-list {
  display: -webkit-box;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.news-list .news-tab {
  width: 150px;
  height: 200px;
  border: 1px solid #ccc;
  margin: 0 3px;
  position: relative;
  border-radius: 8px;
}

.news-tab a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.news-list .news-tab:first-child {
  margin-left: 0;
}

.news-list .news-tab:last-child {
  margin-right: 0;
}

.news-tab .thumbnail {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.news-tab .title {
  font-size: 15px;
  margin: 5px 8px 0;
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-tab .flexwrap {
  width: 100%;
  display: flex;
  padding: 8px;
  position: absolute;
  bottom: -3px;
  align-items: center;
}

.news-tab .flexwrap .link {
  font-size: 14px;
  color: black;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-tab .flexwrap .favicon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.info-label {
  color: #000;
  font-size: 12px;
  border-radius: 5px;
  margin-left: 5px;
  padding: 0 2px;
  border: 1px solid #ccc;
}

@media (max-width: 780px) {
  .news-list::-webkit-scrollbar {
    display: none
  }
  .book-result .infobook {
    max-width: 230px;
  }
  .tab-wrapper svg {
    display: none;
  }
  .search-list {
    flex-direction: column;
  }
  .search-box .search-toggle {
    pointer-events: none;
  }
}

@media (min-width: 780px) {
  .result-wrapper {
    display: flex;
    background: #fff;
    padding-top: 5px;
  }
  .search-field,
  .main-result {
    width: 630px;
  }
  .news-result,
  .tab-result {
    border: none;
  }
  .result-stats {
    display: block;
    color: #70757a;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;
  }
  .tab-result .title:hover {
    text-decoration: underline;
  }
  .tab-link {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
  }
  .tab-result .title {
    display: inline-block;
  }
  .tab-wrapper {
    padding: 8px 16px 12px 16px;
  }
  .search-box,
  .search-menu,
  .result-wrapper {
    padding-left: 130px;
    box-shadow: none;
  }
  .search-box .search-toggle {
    left: auto;
    right: 8px;
  }
  .header {
    padding-top: 13px;
  }
  .search-input {
    border: 1px solid #F8F8F8;
    padding-left: 20px;
  }
  .search-box .cleartext{
    right: 40px;
  }
  .selected span {
    color: #1558d6;
  }
  .selected .label svg {
    fill: #1558d6;
  }
  .selected .label:before {
    background: #1558d6;
    bottom: -12px;
  }
  .instant-answer {
    width: 320px;
    border-style: solid;
    border-radius: 8px;
    border-color: #ccc;
  }
  .related-search {
    border: none;
    max-width: 600px;
    border-style: none;
  }
  .search-list .related {
    width: calc(50% - 10px);
    border-radius: 8px;
    padding: 10px;
    margin: 3px 4px 0 0;
    border: 1px solid #EDEDED;
  }
  .tab-result .title {
    color: #1A0DAB;
  }
  .search-menu {
    margin: 8px 0;
  }
  .main-result .instant-answer {
    display: none;
  }
}

@media (min-width: 992px) {
  .search-field,
  .main-result {
    width: 650px;
  }
  .instant-answer {
    width: 380px;
    margin-left: 50px;
  }
  .instant-answer .snippet {
    -webkit-line-clamp: 8;
  }
  .search-box,
  .search-menu,
  .result-wrapper {
    padding-left: 130px;
  }
}
